body {
  padding-top: 56px;

} 
html {
    height: 100%;
}
  .bg { 
    /* The image used */
    background-image: url("../image/บุคลากร.png");
  
    /* Full height */
    /*height: 100%; */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgindex {
    background: url("../image/bg-1.jpg");
    padding: 1600px;
    background-repeat: no-repeat;
    background-size: 1920px 3240px;
  }

  .bghistory {
    background: url("../image/ประวัติ.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgcourse {
    background: url("../image/หลักสูตร.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  

  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }



