body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("../image/บุคลากร.jpg");
  
    /* Full height */
    /*height: 100%; */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .bgindex { 
    /* The image used */
    background-image: url("../image/bg-1.jpg");
  
    /* Full height */
    /*height: 100%; */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }




